<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="header navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">login</a></li>
        <li><a href="#!">settings</a></li>
        <li class="divider"></li>
        <li><a href="#!">logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper cyan fixed">
            <a href="#!" class="brand-logo">SEPS</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#id1">Sass</a></li>
                <li><a href="#id2">Components</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold side-bar active">
            <a href="#" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar">
            <a href="team-stu.html" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="resource-stu.html" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar">
            <a href="homework-stu.html" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="im-stu.html" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="col m12 s12">
            <div class="card ">

                <div class="card-content black-text">
                    <span class="card-title">软件工程实践</span>
                    <p>
                        课程简介：“软件工程”是介绍软件开发方法，提高学生软件开发能力的一门重要的专业课程。本教程主要以工程化的软件开发方法为主导，系统、全面地介绍这门课程的原理、方法及应用。
                        《软件工程与实践》适合作为高职高专院校计算机或信息类专业的教材，还可作为系统设计人员、程序员、软件架构人员、业务和系统分析人员、项目经理等软件工程技术人员，以及准备参加全国软件工程课程自学考试的读者的参考书。
                    </p>
                    <br/>
                    <p>
                        任课教师：林广艳、贾经冬
                    </p>
                    <br/>
                    <p>
                        教室：工程训练中心302
                    </p>
                    <br/>
                    <p>学分：2</p>
                    <br/>

                    <p>学生人数：144</p>
                    <br/>
                    <p>开课时间：6/24-7/5</p>
                    <br/>
                    <p class="show-dagang">
                        教学大纲：《软件工程与实践》适合作为高职高专院校计算机或信息类专业的教材，还可作为系统设计人员、程序员、软件架构人员、业务和系统分析人员、项目经理等软件工程技术人员，以及准备参加全国软件工程课程自学考试的读者的参考书。

                    </p>

                    <div class="row edit-dagang col s12 ">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="icon_prefix2" class="materialize-textarea input-dagang"></textarea>
                                    <label for="icon_prefix2">教学大纲</label>
                                </div>
                            </div>

                        </form>
                        <button class="btn waves-effect waves-light cyan edit-submit" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn cyan edit-cancel">取消</a>
                    </div>


                    <br/>

                    <br/>
                    <br/>

                </div>

                <!--<div class="card-action">-->
                <!--<a href="#">这是一个链接</a>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
