<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程作业</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/homework-stu.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</head>

<body>
<div class="header navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">login</a></li>
        <li><a href="#!">settings</a></li>
        <li class="divider"></li>
        <li><a href="#!">logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper cyan fixed">
            <a href="#!" class="brand-logo">SEPS</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#id1">Sass</a></li>
                <li><a href="#id2">Components</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold side-bar">
            <a href="classinfo-stu.html" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar">
            <a href="team-stu.html" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="resource-stu.html" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar active">
            <a href="#" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="im-stu.html" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col m10 valign-wrapper homework opacity z-depth-2">
            <!--<i class="material-icons check">label</i>-->
                <span>第一次作业:xxx</span>
            </div>
            <div class="col m2 valign-wrapper download opacity z-depth-1">下载</div>
    </div>
        <div class="row">
            <div class="col m12 opacity hwContent z-depth-1">
                <p>this is a notification</p>
                <div class="container row">
                    <div class="col s1 m1 check">
                        <input type="checkbox" id="cb1"><!--TODO:太靠左了-->
                        <label for="cb1"></label>
                    </div>
                    <span class="col s2 m2">this is a file</span>
                </div>
                <form action="#">
                    <div class="file-field input-field">
                        <div class="btn cyan">
                            <span>打开</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="请选中一个或多个文件">
                        </div>
                    </div>
                    <div class="input-field">
                        <textarea id="ta1" class="materialize-textarea"></textarea>
                        <label for="ta1">附件说明:</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light cyan btn submit-btn"><i class="material-icons right">send</i>提交</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col m10 valign-wrapper homework opacity z-depth-2">
                <!--<i class="material-icons check">label</i>-->
                <span>第一次作业:xxx</span>
            </div>
            <div class="col m2 valign-wrapper download opacity z-depth-1">下载</div>
        </div>
        <div class="row">
            <div class="col m12 opacity hwContent z-depth-1">
                <p>this is a notification</p>
                <div class="container row">
                    <div class="col s1 m1 check">
                        <input type="checkbox" id="cb1">
                        <label for="cb1"></label>
                    </div>
                </div>
                <form action="#">
                    <div class="file-field input-field">
                        <div class="btn cyan">
                            <span>打开</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="请选中一个或多个文件">
                        </div>
                    </div>
                    <div class="input-field">
                        <textarea id="ta1" class="materialize-textarea"></textarea>
                        <label for="ta1">附件说明:</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light cyan btn submit-btn"><i class="material-icons">send</i>提交</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    $('.homework').click(function () {
        var _this=this;
//        $(_this).find('.hwContent').toggle('normal');
        if($(_this).css('margin-bottom')=='8px') {
            $(_this).closest('.row').next().find('.hwContent').slideDown('normal');
            $(_this).css('margin-bottom','0px');
            $(_this).next().css('margin-bottom','0px');
        }else{
            $(_this).closest('.row').next().find('.hwContent').slideUp('normal');
            setTimeout(function(){
                $(_this).css('margin-bottom','8px');
                $(_this).next().css('margin-bottom','8px');
            },300);
        }
    })

//    $('.check').click(function () {
//        var _this=this;
//        if($(_this).html()=='label_outline'){
//            $(_this).html('label')
//        }else{
//            $(_this).html('label_outline')
//        }
//    })

</script>
</body>
</html>