<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../public/css/resource-stu.css" media="screen,projection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
</head>
<body>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold active side-bar">
            <a href="#" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col m12 valign-wrapper resource opacity z-depth-2">
                <span>第一次作业:xxx</span>
                <i class="material-icons right">import_export</i>
                <i class="material-icons right">visibility</i>
            </div>
            <div class="col m12 valign-wrapper resource opacity z-depth-2">
                <span>第一次作业:xxx</span>
                <i class="material-icons">import_export</i>
            </div>
            <div class="col m12 valign-wrapper resource opacity z-depth-2">
                <span>第一次作业:xxx</span>
                <i class="material-icons">import_export</i>
            </div>
        </div>
    </div>
</main>
<script>

</script>
</body>
</html>