<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程资源</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/resource-stu.css" media="screen,projection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</head>
<body>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold active side-bar">
            <a href="#" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <button class="col offset-m10 m2 waves-effect waves-light cyan btn" id="download">下载</button>
        </div>
        <div class="row">
            <div class="col m12 valign-wrapper resource opacity z-depth-2">
                <i class="material-icons check">label</i>
                <span>第一次作业:xxx</span>
            </div>
        </div>
        <div class="row">

            <div class="col m12 opacity resContent z-depth-1">
                <p>this is a notification</p>
                <p><i class="material-icons check">label</i><span>this is a file.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col m12 valign-wrapper resource opacity z-depth-2">
                <i class="material-icons check">label</i>
                <span>第一次作业:xxx</span>
            </div>
        </div>
        <div class="row">

            <div class="col m12 opacity resContent z-depth-1">
                <p>this is a notification</p>
                <p><i class="material-icons check">label</i><span>this is a file.</span></p>
            </div>
        </div>
    </div>
</main>

<script>
    $('.resource').click(function () {
        var _this=this;

        if($(_this).css('margin-bottom')=='8px') {
            $(_this).closest('.row').next().find('.resContent').slideDown('normal');
            $(_this).css('margin-bottom','0px');
        }else{
            $(_this).closest('.row').next().find('.resContent').slideUp('normal');
            setTimeout(function(){
                $(_this).css('margin-bottom','8px');
            },300);

        }


    })

    $('.check').click(function () {
        var _this=this;
        if($(_this).html()=='label_outline'){
            $(_this).html('label')
        }else{
            $(_this).html('label_outline')
        }
    })

</script>
</body>
</html>