<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link type="text/css" rel="stylesheet" href="css/index.css">
</head>

<body>
<div class="header navbar-fixed">
    <nav>
        <div class="nav-wrapper cyan fixed">
            <a href="#!" class="brand-logo">SEPS</a>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" >登 出</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="content">
    <ul id="nav-mobile" class="side-nav fixed" style="width: 250px;transform: translateX(0%);">
        <li id="courses" class="side-bar"><a class="waves-effect waves-teal" href="/index.html">课程管理</a></li>
        <li id="sources" class="side-bar baractive"><a class="waves-effect waves-teal" href="/tc-src.html">资源管理</a></li>
        <li id="homework" class="side-bar"><a class="waves-effect waves-teal" href="/tc-hw.html">作业管理</a></li>
        <li id="teamwork " class="side-bar"><a class="waves-effect waves-teal" href="/tc-tm.html">团队管理</a></li>
        <li id="grade" class="side-bar"><a class="waves-effect waves-teal" href="/tc-mk.html">成绩登记</a></li>
        <li id="signin" class="side-bar"><a class="waves-effect waves-teal" href="/tc-ci.html">签到统计</a></li>
        <li id="olddata" class="side-bar"><a class="waves-effect waves-teal" href="/tc-od.html">以往数据</a></li>
        <li id="communication" class="side-bar"><a class="waves-effect waves-teal" href="#">师生交流</a></li>
    </ul>
</div>
<main>
    <div class=" row right-content">
        <div class="container1">
            <div class="toolbox">
                <a class="waves-effect waves-light btn choosesrc">全选</a>
                <a class="waves-effect waves-light btn choosenot">反选</a>
                <a class="waves-effect waves-light btn publishsrc" href="#modal1">发布新资源</a>
                <a class="waves-effect waves-light btn downloasrc">批量下载</a>
                <a class="waves-effect waves-light btn deletesrc red src-del">删除</a>


            </div>
            <div id="modal1" class="modal">
                <div class="modal-content drag-box"  id="drag-box">
                    <div class="row " >
                        <form class="col s12 ">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input  id="srcheadline" type="text" class="validate">
                                    <label for="srcheadline">标题</label>
                                </div>
                                <div class="input-field col s12">
                                    <input  type="text" id="srccontent" class="validate">
                                    <label for="srccontent">文字说明</label>
                                </div>
                            </div>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>文件</span>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="点击或拖拽上传文件">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat src-public">发布</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col s12 m12">
                    <ul class="collapsible popout show-src" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="col s1 m1 selectDown">
                                    <form>
                                        <p>
                                            <input type="checkbox" name="checkbox" class="filled-in" id="src1">
                                            <label for="src1"></label>
                                        </p>
                                    </form>
                                </div>
                                <i class="material-icons">filter_drama</i>项目启动会PPT
                                <i class="material-icons text-black right">play_for_work</i>
                            </div>
                            <div class="collapsible-body">
                                <span>作业描述是由单个作业、已启动的任务或 WTO 主操作以及内部先行作业准备和/或手动准备操作构成的应用程序。作业描述的名称将自动设置为与主操作相同的名称。 如果应用程序满足这些限制，那么可以使用“作业描述”面板，该面板通过对正在创建的应用程序进行一些假设，将“应用程序描述”面板的大多数功能压缩到一个面板。 通过在主菜单中输入 1.8.2 来显示“创建作业”面板。该面板显示来自创建或修改的先前作业描述的设置。</span>

                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <div class="col s1 m1 selectDown">
                                    <form>
                                        <p>
                                            <input type="checkbox" name="checkbox" class="filled-in" id="src2">
                                            <label for="src2"></label>
                                        </p>
                                    </form>
                                </div>
                                <i class="material-icons">place</i>组队申请表模板
                                <i class="material-icons text-black right">play_for_work</i>

                            </div>
                            <div class="collapsible-body"><span>作业描述是由单个作业、已启动的任务或 WTO 主操作以及内部先行作业准备和/或手动准备操作构成的应用程序。作业描述的名称将自动设置为与主操作相同的名称。 如果应用程序满足这些限制，那么可以使用“作业描述”面板，该面板通过对正在创建的应用程序进行一些假设，将“应用程序描述”面板的大多数功能压缩到一个面板。 通过在主菜单中输入 1.8.2 来显示“创建作业”面板。该面板显示来自创建或修改的先前作业描述的设置。</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <div class="col s1 m1 selectDown">
                                    <form>
                                        <p>
                                            <input type="checkbox" name="checkbox" class="filled-in" id="src3">
                                            <label for="src3"></label>
                                        </p>
                                    </form>
                                </div>
                                <i class="material-icons">whatshot</i>用户需求文档
                                <i class="material-icons text-black right">play_for_work</i>

                            </div>
                            <div class="collapsible-body">
                                <span>作业描述是由单个作业、已启动的任务或 WTO 主操作以及内部先行作业准备和/或手动准备操作构成的应用程序。作业描述的名称将自动设置为与主操作相同的名称。 如果应用程序满足这些限制，那么可以使用“作业描述”面板，该面板通过对正在创建的应用程序进行一些假设，将“应用程序描述”面板的大多数功能压缩到一个面板。 通过在主菜单中输入 1.8.2 来显示“创建作业”面板。该面板显示来自创建或修改的先前作业描述的设置。</span>

                                <br>
                                <br>
                                <br>

                                <a href="#">用户需求文档.docx</a>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</main>

<!--Import jQuery before materialize.js-->

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/tc-src.js"></script>

</html>
