<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团队管理</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/team-stu.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="header navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">login</a></li>
        <li><a href="#!">settings</a></li>
        <li class="divider"></li>
        <li><a href="#!">logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper cyan fixed">
            <a href="#!" class="brand-logo">SEPS</a>
            <ul class="right hide-on-med-and-down">
                <li id="name">wjh</li>
                <div id="stuID">123</div>
                <li><a href="#id1">Sass</a></li>
                <li><a href="#id2">Components</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold side-bar">
            <a href="classinfo-stu.html" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar active">
            <a href="#" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="resource-stu.html" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar">
            <a href="homework-stu.html" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="im-stu.html" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container" id="team-choose">
        <div class="row">
            <div class="card col offset-m1 m5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/team-leader.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">我要当组长！<i class="material-icons right">more_vert</i> </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">我要当组长！<i class="material-icons right">close</i></span>
                    <p>请确认是否要成为<strong class="color-red">团队负责人</strong>,本次选择之后将不可更改,如果选择错误请联系老师进行更改</p>
                    <a class="waves-effect waves-light cyan btn" href="#create-team">确认</a>
                </div>
            </div>
            <div class="card col offset-m1 m5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/team-member.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">我要当组员<i class="material-icons right">more_vert</i> </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">我要当组员<i
                            class="material-icons right">close</i></span>
                    <p>请确认是否要成为<strong class="color-red">团队组员</strong>,本次选择之后将不可更改,如果选择错误请联系老师进行更改</p>
                    <a id="find-team-confirm" class="waves-effect waves-light cyan btn" href="#find-team">确认</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="team-manage">
        <div class="row">
            <h1 id="team-manage-name" class="col m12 s12">RUA</h1><!--队名-->
            <div class="col m12 opacity team-info-mng z-depth-1">
                <h4>团队信息</h4>
                <p id="team-manage-info">blahblah</p>
                <h4>待审批</h4>
                <ul id="team-manage-app" class="collection">
                    <li class="collection-item"><div><span class="appStuName">吴举豪</span><span class="appStuID">123</span> <a class="secondary-content waves-effect waves-light red z-depth-1 disagree">不同意</a><a class="secondary-content waves-effect waves-light cyan z-depth-1 agree">同意</a></div></li>
                </ul>
                <h4>队员信息</h4>
                <ul id="team-manage-mem" class="collection" id="teamMem">
                    <li class="collection-item"><span class="memName">刘春晓</span><span class="memStuID">456</span></li>
                </ul>
                <button type="submit" id="submit-team-apply" class="cyan waves-effect waves-light btn" onclick="teamManageSubmit()">提交团队申请</button>
            </div>
        </div>
    </div>
    <div class="container" id="team-check">
        <div class="row">
            <h1 id="team-check-name" class="col m12 s12">RUA</h1><!--队名-->
            <div class="col m12 opacity team-info-mng z-depth-1">
                <h4>团队信息</h4>
                <p id="team-check-info">blahblah</p>
                <h4>队员信息</h4>
                <ul id="team-check-mem" class="collection">
                    <li class="collection-item">刘春晓</li>
                    <li class="collection-item">朱耀华</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</main>
<!--modal-->
<div id="create-team" class="modal">
    <form class="modal-content">
        <div class="input-field">
            <input placeholder="请输入团队名称" type="text" class="validate" id="teamname">
            <label for="teamname">团队名称</label>
        </div>
        <div class="input-field">
            <textarea placeholder="请输入团队信息" type="text" class="materialize-textarea" id="teaminfo"></textarea>
            <label for="teaminfo">团队信息</label>
        </div>
        <a href="#" type="submit" class="cyan waves-effect waves-light btn" onclick="teamCreate()">确认</a>
    </form>
</div>
<div id="find-team" class="modal">
    <div class="modal-content">
        <div class="row find-team-list-div">
            <div class="col m12 valign-wrapper teamlist opacity z-depth-2">
                <span class="find-team-name">RUA</span><span>-于济凡的团队</span><!--队名-组长姓名-->
            </div>
        </div>
        <div class="row">
            <div class="col m12 opacity teamContent z-depth-1 find-team-div">
                <h4>团队信息</h4>
                <p>blahblah</p>
                <h4>队员信息</h4>
                <ul class="collection">
                    <li class="collection-item">吴举豪</li>
                    <li class="collection-item">冯凯文</li>
                </ul>
                <a href="#" type="submit" class="find-team-apply cyan waves-effect waves-light btn">申请加入</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/team-stu.js"></script>
</body>
</html>
