<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团队管理</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize-custom.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../public/css/team-stu.css" media="screen,projection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
</head>
<body>
<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">课程信息</a>
        </li>
        <li class="bold side-bar active">
            <a href="#" class="waves-effect waves-cyan">团队</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">资源</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">作业</a>
        </li>
        <li class="bold side-bar">
            <a href="#" class="waves-effect waves-cyan">交流</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="card col offset-m1 m5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../public/img/team-leader.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">我要当组长！<i class="material-icons right">more_vert</i> </span>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">我要当组长！<i class="material-icons right">close</i></span>
                <p>请确认是否要成为<strong class="color-red">团队负责人</strong>,本次选择之后将不可更改,如果选择错误请联系老师进行更改</p>
                <button class="waves-effect waves-light cyan btn" href="#comfirm-leader">确认</button>
            </div>
            </div>
            <div class="card col offset-m1 m5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../public/img/team-member.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">我要当组员<i class="material-icons right">more_vert</i> </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">我要当组员<i class="material-icons right">close</i></span>
                    <p>请确认是否要成为<strong class="color-red">团队组员</strong>,本次选择之后将不可更改,如果选择错误请联系老师进行更改</p>
                    <button class="waves-effect waves-light cyan btn">确认</button>
                </div>
            </div>
        </div>
        <div id="comfirm-leader" class="modal modal-fixed-footer">
            <form class="modal-content">
                <input placeholder=""
            </form>
        </div>
    </div>
</main>
</body>
</html>
